# Scoring
Perm_CO2+w1*CO2/N2+w2*CO2/O2+

In [7]:
import numpy as np
import pandas as pd

PATH='mixture_grid_search.csv'

df=pd.read_csv(PATH)
# df: 이미 로드된 DataFrame 이라고 가정
w1,w2=0.78,0.2
def sort_by_perm_score(df: pd.DataFrame, w1: float, w2: float) -> pd.DataFrame:
    """
    df를 Perm_CO2 + w1*(CO2/N2) + w2*(CO2/O2) 점수로 정렬해서 반환.
    칼럼 이름:
      - Perm_CO2 : CO2 투과도
      - Perm_N2  : N2 투과도
      - Perm_O2  : O2 투과도
    """
    eps = 1e-12  # 0으로 나누기 방지용

    co2 = df["perm_CO2"]
    n2 = df["perm_N2"].clip(lower=eps)
    o2 = df["perm_O2"].clip(lower=eps)

    df = df.copy()
    df["score"] = 0.5* co2 - w1 * (n2) - w2 * (o2)

    # 점수 높은 순으로 정렬
    df_sorted = df.sort_values("score", ascending=False).reset_index(drop=True)
    return df_sorted
# 점수 컬럼 추가
df_sorted = sort_by_perm_score(df, w1=0.5, w2=1.0)
# 점수 기준으로 정렬 (내림차순: 점수가 큰 순서)
df_sorted.head()

,smiles_A,smiles_B,alpha,Tg,Tm,Td,YM,TS_y,TS_b,eps_b,perm_O2,perm_CO2,perm_He,perm_N2,perm_CH4,perm_H2,score
0,[*]CCOC(=O)c1ccc(C(=O)O[*])cc1,[*]CC[*],0.3,272.252411,365.166138,602.193726,523.817932,22.891624,26.558508,296.376343,3.899521,21.899168,17.678780,1.545262,3.276517,20.975750,6.277432
1,[*]CC[*],[*]OC(CCCc1ccccc1)CCCCCC(=O)[*],0.3,258.561462,362.939575,611.335083,991.399780,34.121387,36.700249,293.337860,3.272159,19.909620,22.255621,0.946108,1.988623,24.535679,6.209597
2,[*]CCOC(=O)c1ccc(C(=O)O[*])cc1,[*]CC[*],0.1,257.329712,369.880402,638.819641,389.603058,16.851225,21.406590,401.706238,5.392988,25.369251,16.733252,2.405397,5.634047,22.174353,6.088939
3,[*]CC[*],[*]OC(CCCc1ccccc1)CCCCCC(=O)[*],0.5,260.764221,363.540405,612.240417,948.332031,33.598713,36.062469,310.582123,3.152843,18.940735,21.685541,0.905201,1.883869,23.715076,5.864923
4,[*]CC[*],[*]OC(CCCCc1ccccc1)CCCC(=O)[*],0.5,263.147888,363.996307,612.094910,980.442627,33.718510,36.031879,304.452057,3.162154,18.638395,21.660789,0.927190,1.929173,23.678928,5.693448